# Google Sheets API configuration (Demo)
GOOGLE_SHEETS_CLIENT_EMAIL=demo-service-account@example.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=REPLACE_ME
GOOGLE_SHEETS_PROJECT_ID=REPLACE_ME

# Security basic auth (Optional)
CRM_BASIC_AUTH_USER=
CRM_BASIC_AUTH_PASSWORD=

NEXT_PUBLIC_APP_URL=http://localhost:3000
